/* Black */
@font-face {
  font-family: 'CircularXX TT', sans-serif;;
  src: url('./assets/fonts/CircularXXTT-Black.woff2') format('woff2'),
      url('./assets/fonts/CircularXXTT-Black.woff') format('woff'),
      url('./assets/fonts/CircularXXTT-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* Bold */
@font-face {
  font-family: 'CircularXX TT';
  src: url('./assets/fonts/CircularXXTT-Bold.woff2') format('woff2'),
      url('./assets/fonts/CircularXXTT-Bold.woff') format('woff'),
      url('./assets/fonts/CircularXXTT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* medium */
@font-face {
  font-family: 'CircularXX TT';
  src: url('./assets/fonts/CircularXXTT-Medium.woff2') format('woff2'),
      url('./assets/fonts/CircularXXTT-Medium.woff') format('woff'),
      url('./assets/fonts/CircularXXTT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'CircularXX TT';
  src: url('./assets/fonts/CircularXXTT-Regular.woff2') format('woff2'),
      url('./assets/fonts/CircularXXTT-Regular.woff') format('woff'),
      url('./assets/fonts/CircularXXTT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #0F1621;
  color: #111111;
  font-family: "CircularXX TT", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  font-size: 14px;
  line-height: 24px;
}

#main {
  transition: margin-right .3s;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.body-margin{
  margin-right: 380px;
}

.footer-nav{
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 5rem;
  margin-bottom: 0;
  position: fixed;
  text-align: center;
  white-space: nowrap;
  width: 100vw;
  z-index: 100;
  padding: 16px;
  padding-left: 0;
  color: #F8F6FF;
}
.left-section{
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  display: flex;
  flex: 1 1 25%;
}
.left-section img.logo{
  width: 105px;
}
.recording-gif{
  padding-left: 20px;
  position: relative;
  display: none;
}
.recording-gif img{
  width: 60px;
}
.timer{
  display: inline-block;
  padding: 4px 0 0 4px;
  color: #bcbcbc;
  position: relative;
  top: 1px;
}
.center-section{
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 1 25%;
}
.right-section{
  justify-content: flex-end;
  margin-right: 16px;
  display: flex;
  flex: 1 1 25%;
}

.widget-section{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 4px;
  padding: 0 6px;
}
.widget-section .icon{
  width: 40px;
  height: 40px;
  padding-top: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.widget-section .icon:hover{
  background-color: #222830;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 50%;
  color: #ffffff;
}

.participants{
  position: relative;
}
.participants .count{
  align-items: center;
  background-color:#4671F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  min-height: 0.875rem;
  min-width: 1.25rem;
  position: absolute;
  top: -5px;
  left: 25px;
}
.participants .number{
  font-weight: 500;
  line-height: 1.25rem;
  color: #fafafa;
  font-size: .75rem;
  margin: 0 0.125rem;
}
.action-icons-widget {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 12px;
  padding: 0 6px;
  cursor: pointer;
}
.action-icons-widget img:hover{
  transition: all 0.2s ease-in-out 0s;
  opacity: .7;
}

.devider{
  width: 1px;
  height: 27px;
  background-color: #48596D;
  margin-top: 5px;
}
.off-camera{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.initial{
  width: 50px;
  height: 50px !important;
  font-size: 22px;
  font-weight: 500;
  border-radius: 33%;
  background-color: #6188fa;
  color: #eef2ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f94949;
  position: absolute;
  top: 6px;
  right: 5px;
}

.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  bottom: 100px;
  background-color: #ffffff;
  /* overflow-x: hidden; */
  transition: 0.3s;
  height: calc(100% - 100px);
  border-radius: 10px;
}
.sidenav-open{
  width: 360px;
}
.sidenav-close{
  width: 0px;
}
.side-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100%);
}
.scroll-area{
  height: calc(100vh - 60px);
  overflow: auto;
}
.scroll-area-div{
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.host-details{
  display: flex;
  flex-direction: row;
  background-color: #f1f3f4;
  border-radius: 10px;
  padding: 10px;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.host-details .initial{
  width: 53px;
  height: 43px !important;
  font-size: 18px;
  background-color: #cbd4d7;
}
.host-label{
  color: #5f6368;
  padding-bottom: 6px;
  font-size: 12px;
}
.host-details .name{
  padding-left: 15px;
  font-weight: 500;
  line-height: 21px;
}
.host-details .name span{
  font-weight: normal;
  color: #5f6368;
}
.parti-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f1f3f4;
}
.parti-container .initial{
  width: 39px;
  height: 39px !important;
  font-size: 15px;
}
.parti-container .name{
  padding-left: 15px;
}
.icon-present{
  display: flex;
  flex: 1 1 25%;
  justify-content: flex-end;
}
.icon-present img{
  width: 36px;
  padding-left: 4px;
}
.pin-icon2{
  transition: all 0.2s ease-in-out 0s;
}
.pinned-icon2{
  transform: rotate(270deg);
}
.part-scroll{
  height: calc(80vh - 153px);
  overflow: auto;
}
.host-btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.host-btn .fa {
  transition: transform .2s;
  position: absolute;
  top: 0;
  right: -21px;
}

.host-btn .fa.active {
  transform: rotateZ(90deg);
}
.host-show{
  padding-bottom: 15px;
}
.screen-off img{
  opacity: .6;
}

.disabled {
  opacity: .3;
  pointer-events:none;
  user-select: none;
}

/* more */
.more-widget{
  position: relative;
}
.more-options{
  width: 220px;
  position: absolute;
  top: -110px;
  left: -81px;
  z-index: 10;
  background-color: #fafafa;
  border-radius: 10px;
  color: #111111;
  cursor: default;
  display: none;
}
.more-options ul{
  padding: 15px;
  text-align: left;
}
.more-options ul li{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out 0s;
}
.more-options ul li:hover{
  background-color: #f1f3f4;
}
/* .more-options ul li:last-child{
  padding: 0;
} */
.more-options ul li .menu-icon{
  margin-right: 8px;
}
.more-options ul li .list-text{
  padding-top: 3px;
}
/* more */

/* chat */

.chat-typing-area{
  display: flex;
  border-radius: 10px;
  padding: 8px;
  background-color: #f3f4f9;
}
.chat-input{
  border: none;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  flex: 1;
  background-color: transparent;
}
.send-button {
  color: #fff;
  border-radius: 8px;
  background-color: #4671F0;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-button img {
  width: 20px;
  height: 20px;
}
.message-wrapper {
  display: flex;
  padding: 16px 0;
}
.message-wrapper.reverse .profile-picture {
  margin-right: 0px;
  margin-left: 12px;
}
.message-wrapper .name {
  margin: 0;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #111111;
}
.message-wrapper.reverse .name {
  text-align: right;
}
.message-wrapper .message {
  margin-top: 8px;
  background-color: #f3f4f9;
  padding: 8px 16px;
  border-radius: 0 12px 12px 12px;
  font-size: 14px;
  line-height: 16px;
  max-width: calc(100% - 32px);
  color: #2c303a
}
.message-wrapper .time{
  text-align: right;
  max-width: calc(100% - 32px);
  font-size: 10px;
  color: #656565;
}
.message-wrapper.reverse .time{
  text-align: left;
  max-width: 100%;
  padding-left: 32px;
}
.message-wrapper.reverse {
  flex-direction: row-reverse;
}
.message-wrapper.reverse .message {
  background-color: #3A40E4;
  color: #fff;
  margin-left: auto;
  border-radius: 16px 0px 16px 16px;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-picture {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 12px;
  flex-shrink: 0;
}
.chat-action{
  display: flex;
  justify-content: flex-end;
  padding-top: 7px;
}
.chat-action img{
  width: 20px;
}
.chat-action .emoji-icon{
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
.chat-action .attach{
  margin-left: 13px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
}
.chat-action .attach:hover, .chat-action .emoji-icon:hover{
  opacity: .6;
}
.chat-action .attach input{
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
input[type=file] {
  display: block;
  cursor: pointer;
}
::-webkit-file-upload-button {
  cursor:pointer;
}
.emoji-widget{
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 48px;
  padding: 20px;
  overflow-y: overlay;
  overflow-x: hidden;
  display: none;
}
ul.emojis{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  overflow-y: overlay;
  overflow-x: hidden;
}
ul.emojis li{
  margin: 5px 15px;
	cursor: pointer;
  font-size: 22px;
}

.chat-widget .initial{
  width: 32px;
  height: 32px !important;
  font-size: 13px;
}

/* layout */

ul.layout-list{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;  
}
ul.layout-list li{
  text-align: center;
  border: 1px solid #212E3E;
  border-radius: 10px;
  margin: 2px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
ul.layout-list li.active{
  background-color: #212E3E;
  color: #fafafa;
}

/* layout */

/* chat */

/* toast */

.toast {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 13px 35px 13px 13px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 999  ;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast-content .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
}
.toast-content .icon img{
  width: 30px;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  margin-left: 15px;
}
.toast-content .message .title{
  font-weight: 500;
}
.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}


.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

/* toast */

.container-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container-widget header {
}
.container-widget article {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}
.container-widget footer {
}

 
.sidenav .closebtn {
  position: absolute;
  top: -4px;
  right: 0;
  font-weight: bold !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out 0s;
}
a.closebtn{
  color: #111111;
  text-decoration: none;
}
.sidenav .closebtn:hover{
  background-color: #EEF0F3;
  border-radius: 50%;
}

.video-9{
  width: 1256px;
  height: 696px;
  background-color: #F8F6FF;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.video-bg{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.video-bg video{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.side{
  width: 343px;
  display: inline-block;
  vertical-align: top;
  background: url(./assets/images/side.jpg) no-repeat center center;
  height: 698px;
  background-size: contain;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border-radius: 10px;
  overflow: hidden;
  height: calc(100vh - 100px);
  background-color: #0F1621;
}
  .parent div{
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .parent h5{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    font-size: 14px;
    text-shadow: 0px 0.7px 1px #000000;
    font-weight: 500;
    color: #F8F6FF;
  }
  .eye{
    position: absolute !important;
    top: 9px;
    right: 9px;
    z-index: 2 !important;
    width: 28px;
    height: 28px !important;
    background: url(./assets/images/eye.png) no-repeat center center;
    background-size: contain;
  }
  .mute{
    position: absolute !important;
    top: 9px;
    right: 46px;
    z-index: 2 !important;
    width: 28px;
    height: 28px !important;
    background: url(./assets/images/mute.png) no-repeat center center;
    background-size: contain;
  }
  .pin{
    position: absolute !important;
    top: 9px;
    left: 9px;
    z-index: 2 !important;
    width: 28px;
    height: 28px !important;
    background: url(./assets/images/pin.png) no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
  }
  .grid-video:hover .pin, .layout2-widget:hover .pin{
    opacity: 9;
  }
  .layout2-widget .pin{
    top: 15px;
    left: 15px;
    transform: rotate(270deg);
  }
  .layout2-widget h5{
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 2;
    font-size: 14px;
    text-shadow: 0px 0.7px 1px #000000;
    font-weight: 500;
    color: #F8F6FF;
  }
  .speaker{
    position: absolute !important;
    bottom: 30px;
    left: 9px;
    z-index: 2 !important;
    width: 32px;
    height: 32px !important;
    background: url(./assets/images/speaker.gif) no-repeat center center;
    background-size: contain;
    background-size: 20px 20px;
    background-color: #ffffffd6;
    border-radius: 50%;
  }
  .theater-user .speaker{
    bottom: 10px;
    left: 8px;
    width: 25px;
    height: 25px !important;
    background-size: 18px 18px;
  }
  .theater-user .relative:hover .overlay-content{
    opacity: 9;
  }
  .theater-user .overlay-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgb(250 250 250 / 72%);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
  }
  .theater-user .overlay-content .inner .eye, .theater-user .overlay-content .inner .mute, .theater-user .overlay-content .inner .pin{
    position: static !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0 1px;
  }
  .theater-user .overlay-content .inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  .theater-user .overlay-content .inner .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .theater-user .overlay-content .inner .icons .pin{
    background: url(./assets/images/pin-black.png);
    opacity: .9;
    background-size: contain;
  }
  .theater-user .overlay-content .inner .name{
    font-weight: 500;
  }
  .rec{
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #EF2111;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }
  .rec img{
    height: 20px;
    padding-right: 4px;
  }
  
  .unmute-alert{
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .unmute-content{
    display: inline-block;
    background-color: #000000a8;
    color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    border: 2px solid red;
    position: relative;
  }
  .unmute-alert::before{
    content: '';
    width: 48px;
    height: 120px;
    position: absolute;
    top: 92px;
    bottom: 0;
    z-index: 12;
    background: url(./assets/images/arrow-mark.png) no-repeat;
  }
  .unmute-content h4{
    margin-top: 0;
    margin-bottom: 5px;
  }
  .unmute-content p{
    margin-bottom: 0;
  }

  .close-sound-alert{
    position: absolute;
    top: -11px;
    right: -11px;
    cursor: pointer;
  }
  .close-sound-alert img{
    width: 28px;
  }

.layout2-widget{
  width: 80%;
  height: calc(100vh - 200px);
  border-radius: 10px;
  /* overflow: hidden; */
  margin: auto;
  position: relative;
}
.layout2-widget video{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.layout2-widget .eye{
  top: 15px;
  right: 15px;
}
.layout2-widget .mute{
  top: 15px;
  right: 53px;
}
.theater-user{
  width: 80%;
  margin: auto;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding-top: 10px;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.theater-user video{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.relative{
  position: relative;
  overflow: hidden;
}
.speak{
  border: 3px #4671F0 solid;
  animation: blink 1s;
  animation-iteration-count: 120;
}

@keyframes blink { 50% { border-color: transparent; }  }

.header{
  position: relative;
  font-size: 15px;
  padding-bottom: 20px;
}

.app-screen .popover {
  background-color: #0F1621; 
  color: #EEF0F3;
  border: 1px solid #0F1621 !important;
  border-radius: 0.3rem !important;
  box-shadow: none !important;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.app-screen  .popover-title{
  background-color: #212E3E !important;
  color: #fafafa;
  border-bottom: 1px solid #0d0d0d;
  padding: 4px 14px !important;
}
.app-screen  .popover-content{
  background-color: #0F1621;
}
.app-screen  .popover>.arrow:after{
  border-left-color: #212e3e !important;
}
/* .popover.right .arrow::after {border-bottom-color: #0F1621; }
.popover-content {background-color: #0F1621;}
.popover-title{
  color: #111111;
} */

.app-screen{
  display: grid;
  grid-template-columns: repeat(3, calc((100%  - 32px)/ 3));
  grid-gap: 16px;
  padding: 0 0px 0 0;
  padding-bottom: 30px;
  /* height: calc(80vh - 90px);
  overflow: auto; */
}
.app-screen a{
  color: #111111;
  text-decoration: none;
}
.app-wrapper{
  position: relative;
}
.app-icons{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  cursor: pointer;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 14px;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
}
.new-label{
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #a0e6a0;
}
.app-icons:hover{
  border-color: #111111;
}
.app-icons span{
  padding-bottom: 4px;
}
.search{
  padding-bottom: 15px;
  position: relative;
}
.search input{
  padding-left: 35px;
}
.search span{
  position: absolute;
  top: 7px;
  left: 9px;
  font-size: 20px;
}

.screen-img{
  background: url(./assets/images/screen.jpg) no-repeat top center;
  background-size: contain;
  position: relative;
}
.screen-img:hover .sharing-info{
  opacity: 9;
  bottom: 0;
}
.screenshare{
  position: relative;
}
.presenter-video{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.video-container{
  width: 90px;
  height: 130px;
  position: relative;
  cursor: move;
}
.video-container video{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px
}

.sharing-info{
  color: #fafafa;
  position: absolute;
  left: 0;
  bottom: -20px;
  right: 0;
  display: flex;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgb(15 22 33) 100%);
  opacity: 0;
  padding: 20px 0;
  transition: all 0.2s ease-in-out 0s;
}
.stop-btn{
  display: flex;
  flex: 1 1 25%;
  justify-content: flex-end;
  padding-right: 20px;
}

/* layout */

/* 1 */
.participant-1 .parent{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 0;
}
.participant-1 #main{
  text-align: center;
}
.participant-1 .video-bg{
  width: 80%;
}
/* 1 */

/* 2 */
.participant-2 .parent{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.participant-2 #main{
  text-align: center;
}
.participant-2 .video-bg{
  width: 80%;
}
/* 2 */
/* 3 */
.participant-3 .parent{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.participant-3 .four, .participant-3 .five, .participant-3 .six, .participant-3 .seven, .participant-3 .eight, .participant-3 .nine{
  display: none;
}
.participant-3 #main{
  text-align: center;
}
.participant-3 .video-bg{
  width: 80%;
}
/* 3 */
/* 4 */
.participant-4 .parent{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.participant-4 .five, .participant-4 .six, .participant-4 .seven, .participant-4 .eight, .participant-4 .nine{
  display: none;
}
.participant-4 #main{
  text-align: center;
}
.participant-4 .video-bg{
  width: 80%;
}
/* 4 */
/* 5 */
.participant-5 .parent{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.participant-5 .six, .participant-5 .seven, .participant-5 .eight, .participant-5 .nine{
  display: none;
}
.participant-5 #main{
  text-align: center;
}
.participant-5 .video-bg{
  width: 80%;
}
/* 5 */

/* layout */

/* bootstrap over write */

.btn-primary{
  background-color: #4671F0;
  border-color: #4671F0;
}
.btn-primary:hover{
  background-color: #3A40E4;
  border-color: #3A40E4;
}


.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  /* tooltip */
  /* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 12px; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}





@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out both;
	animation: heartbeat 1.5s ease-in-out both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}




@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}


.header{
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
}
#notifypop{ display:none;}



/* mobile */

@media screen and (min-width: 320px) and (max-width: 767px){
  #main{
    padding: 10px;
  }
  .left-section{
    display: none;
  }
  .right-section{
    display: none;
  }
  .recording{
    display: none;
  }
  .screen{
    display: none;
  }
  .footer-nav.fade-in-bottom{
    animation: none;
  }
}